.clear{
  display: inline-block;
  clear: both;
}
  
  h1{
    
    
    font-size: 30px;
    text-align: center;
  }
  #table {
  
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
   
    
  }
  #form {
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    top: 50px;
    height: 350px;
    left:100px


  }
  table, tr, th,td{
    background-color: #3ad67d;
    min-width: 60px;
    border: 0.1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  td{
    font-size: 16px;
    padding:3px;
   
  }
  
  input[value=''], #gender{
    width: 200px;

  }
  input[type='radio']{
    display: inline-block;

  }
  input:invalid {
    border: 2px solid black;
    background-color: red;
  }
  input:valid {
    border: 2px solid black;
    background-color: green;
  }
  
 body{
  
   background: url('./images/background-from.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   

 }
 .hint-text{
  display: none;
  font-size: 8px;
  color: red;
}
 
.button-delete{
  height: 32px;
  padding-left: 36px;
  padding-right: 10px;
  border: 1px solid #000000;
  background: transparent url("./images/delete.png") no-repeat 10px center;
  cursor: pointer;
  border: transparent;
}


.popup { display: none; }
.popup.open { display: block; 
  z-index:2;}
  .popup .popuptext {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    margin-left: 20px;
   
    
  
  }
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}

#send,#reset{
  margin-top: 5px;
  width: 50px;
 }

